---
type NavItem = {
  id: string;
  href: string;
  label: string;
};

interface NavLinksProps {
  navItems: NavItem[];
  variant?: 'desktop' | 'mobile';
}

const { navItems, variant = 'desktop' }: NavLinksProps = Astro.props;
const isMobile = variant === 'mobile';
---
{isMobile ? (
  navItems.map(({ id, href, label }) => (
    <a href={href} class="mobile-menu__link" data-nav-item={id}>
      {label}
    </a>
  ))
) : (
  navItems.map(({ id, href, label }) => (
    <div class="header__link header__link--desktop" data-nav-item={id}>
      <a href={href}>{label}</a>
    </div>
  ))
)}
